@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@663&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body {
	background-color: rgb(16, 16, 16);
    font-family: 'Rubik';
	font-size: 20px;
	color:white;
	display: flex;
    flex-direction: column;
}

h1	{
	font-family: Work Sans;
	font-weight: 663;
	color: white;
	column-span: all;
}

p{
	line-height: 1.6;
}

img {
	max-width: 100%;
	height: auto;
	padding: 5px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }

.topnav {
	overflow: hidden;
	list-style-type: none;
	margin: auto;
  	padding: 10px;
	line-height: normal;
	width: 95%;
	/* border: 3px solid red; */
}

.topnav a {
	float: right;
	display: block;
	/* color:white; */
  	text-align: center;
	padding: 0px 10px;
}

.topnav a.active {
	color: white;
}

.topnav a.active:hover {
	text-decoration:none;
	opacity: 0.8;
}

.topnav .icon {
	display: none;
}

a{
	text-decoration:none;
	font-family: 'Work Sans';
	font-weight: 663;
	color: red;
}

a:hover {
	text-decoration:none;
	color: white;
}

/* Hyperlink HL Styles */
#hl1{
	font-size: 12px; 
	bottom: 1px;
	color:white;
}

#hl1:hover {
	color: red;
}

.centercolumn {
  	margin: auto;
  	width: 45%;
  	padding: 10px;
	flex: 1 0 auto;
	/* border: 3px solid red; */
}

.header {
	margin: auto;
  	width: 95%;
	height: 150px;
	line-height: 150px;
  	padding: 10px;
	font-family: Work Sans;
	font-weight: 300;
	/* border: 3px solid red; */
}

.footer {
	margin: auto;
  	width: 95%;
	/* border: 3px solid red; */
	flex-shrink: 0;
	padding: 20px;
}
  
.social {
	opacity: 1;
	width: 25px;
	height: 25px;
}

.social:hover {
	opacity: 0.5;
}

@media screen and (max-width: 800px) {
	.centercolumn {
		width: 95%; /* The width is 90%, when the viewport is 800px or smaller */
	}

	.topnav a {display: none;}
  	.topnav a.icon {
    float: right;
    display: block;
  	}
}

@media screen and (max-width: 800px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: relative;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: right;
	  /* background-color: grey; */
	  line-height: 2;
	}
}