@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@663&display=swap');

body {
	background-color: rgb(16, 16, 16);
    font-family: 'Rubik';
	font-size: 20px;
	color:white;
}

h1	{
	font-family: Work Sans;
	color: white;
	column-span: all;
}

p{
	line-height: 1.6;
}

a {
	text-decoration:none;
	font-family: 'Work Sans';
	color: red;
}
.centercolumn {
	column-count: 1;
  	margin: auto;
  	width: 45%;
  	/* border: 3px solid green; */
  	padding: 10px;
  }
  
.social {
	opacity: 1;
	width: 25px;
	height: 25px;
}

.social:hover {
	opacity: 0.5;
  }

/* Tablets resize */
@media screen and (max-width: 800px) {
	.centercolumn {
	width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
	}
}